*{margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    background:rgb(29, 28, 28);
    max-width: 1400px;
    margin: auto;
}
.body { width: 100%;
    background: red;
    padding-top: 6rem;

}
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(173, 57, 57);
}
#navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.75rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#welcome-section{
    width:100%;
    height:100vh;
    color:#ffffff;
    text-align:center;
    font-size:2em;
    background: rgb(29, 28, 28);
}
.iam{
    padding-top: 6rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.imgyo{
    border-radius: 50%;
    padding-top: 2rem;
}
.iam h2{
    font-size: 0.9em;
    padding-top: 3rem;
    font-style: italic;
    color: rgb(173, 57, 57);
    
}
