*{margin: 0px;
    padding: 0px;
}

body{
    width: 100%;
    max-width: 1400px;
    margin: auto;
}
.body { width: 100%;
    padding-top: 6rem;

}
/*inicia header*/
#navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(173, 57, 57);
}
#navbar ul {
    list-style: none;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
#navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*inicia section I am*/

#welcome-section{
    width:100%;
    height:100vh;
    color:#ffffff;
    text-align:center;
    font-size:2em;
    background: #3a393f;
}
.iam{
    padding-top: 6rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.imgyo{
    border-radius: 50%;
    padding-top: 2rem;
}
.iam h2{
    font-size: 0.9em;
    padding-top: 3rem;
    font-style: italic;
    color: rgb(173, 57, 57);
    
}
/*inicia section works*/

#projects {
    background: rgb(76, 81, 114);
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 200px;
    grid-template-areas: "texto texto"
                         "img  img"
                         "img  img"
                         "texto2 texto2";
}
#projects h2 {
    grid-area: texto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    
    
}

.project-tile  {
    grid-area: img;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}

.project-tile a  {
    color: rgb(252, 245, 245);
    text-decoration: none;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
}
.project-tile a p {
    background: #3a393f;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.project-tile a p:hover{
    background: brown;
    color: gray;

}
.project-tile a img{
    border-radius: 10px;
}
.text2 {
    grid-area: texto2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.text2 a {
    color: white;
    font-size: 2rem;
    background: rgb(173, 57, 57);
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}
.text2 a:hover{
    background: grey;
}

/*section footer*/
#soy {
    background: #3a393f;
    padding-top: 7rem;
}
.listaredes {
    background: rgb(173, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.listaredes a {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.textfooter{
    padding: 4rem 1rem 1rem 1rem;
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media only screen and (max-width: 500px) {
    body {
      background-color: #3a393f;
    }
    #navbar ul li a{
        font-size: 20px;
    }
    #welcome-section{
        font-size:1em;
    }
    .iam{
        padding-top: 2rem;
    }
    .imgyo{
        padding-top: 1rem;
        width: 200px;
    }
    .iam h2{
        font-size: 1em;
        padding-top: 2rem;
    }
    #projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 200px;
        grid-template-areas: "texto"
                             "img"
                             "img"
                             "texto2";
    }
    .project-tile  {
        width: 70%;
    }
        


    #projects h2 {
        font-size: 1.2rem;
    }
    .project-tile a p {
        font-size: 16px;
    }
   
    .project-tile a img{
        width: 300px;
  }
  .text2 a{
      font-size: 1.4rem;
  }
  .textfooter p{
    text-align: justify;
    font-size: 7px;
}
}



